[submodule "game/waves/play"]
	path = game/waves/play
	url = git@github.com:fielddaylab/waves
[submodule "game/water"]
	path = game/water
	url = https://github.com/fielddaylab/cycle.git
	branch = water
[submodule "game/carbon"]
	path = game/carbon
	url = https://github.com/fielddaylab/cycle.git
	branch = carbon
[submodule "game/nitrogen"]
	path = game/nitrogen
	url = https://github.com/fielddaylab/cycle.git
	branch = nitrogen
