$break-xs: "only screen and (max-width: 400px) and (-webkit-min-device-pixel-ratio: 1)";
$break-sm: "only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1)";
$break-md-sm: "only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1)";
$break-md: "only screen and (max-width: 991px) and (-webkit-min-device-pixel-ratio: 1)";
$break-lg: "only screen and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1)";
$break-xl: "only screen and (min-width: 1420px) and (-webkit-min-device-pixel-ratio: 1)";
$break-nav: "only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 1)";
$break-short: "only screen and (max-height: 700px) and (-webkit-min-device-pixel-ratio: 1)";
$break-ipadmini: "only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1)";
