/* Footer
------------------------------------------ */
#footer {
  background-color: rgb(50,50,50);
  color: white;
  margin: 0;
  padding: 30px;
  text-align: center;
  font-size: 12px;
}

#footer img {
  width: 100px;
}

#footer2 {
  background-color: rgb(35,35,35);
  color: white;
  margin: 0;
  padding: 30px;
  text-align: center;
  font-size: 12px;
}

#footer2 img {
  height: 40px;
}

#footer2 a {
  margin: 10px;
}

