$break-xs: "only screen and (max-width: 400px)";
$break-sm: "only screen and (max-width: 767px)";
$break-md-sm: "only screen and (min-width: 768px)";
$break-md: "only screen and (max-width: 991px)";
$break-lg: "only screen and (min-width: 992px)";
$break-xl: "only screen and (min-width: 1420px)";
$break-nav: "only screen and (max-width: 600px)";
$break-short: "only screen and (max-height: 700px)";

