/* Reset
------------------------------------------ */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box; /* for my sanity */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global styles
------------------------------------------ */

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* Typography
------------------------------------------ */

h2 {
  letter-spacing: 4px;
  margin: 25px;
  font-size: 24px;
}

p {
 font-size: 16px;
 letter-spacing: 1px;
 line-height: 30px;
}

/* Layout
------------------------------------------ */

.section {
  text-align: center;
  padding: 100px 10vw;
  max-width: 1200px;
  margin: 0 auto;
}

.section-logo {
  width: 70px;
}

@media (max-width: 800px) {
  .section {
    padding: 50px;
  }
}

#navbar {
  background-color: rgb(59,59,59);
  color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#brand {
  float: left;
  height: 100%;
}

#brand img {
  height: 100%;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#hamburger {
  float: right;
  height: 100%;
}

#hamburger img {
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

#jumbotron {
  width: 100%;
  height: 50vh;
  min-height: 40vw;
  position: relative;
  background-image: url(../large/jumbotron.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#play-games {
  position: absolute;
  color: rgb(61,183,221);
  background-color: white;
  padding: 15px;
  width: 240px;
  margin: 0 auto;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  border-radius: 9999px;
}


.game-image img {
  width: 100%;
}
.games {
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 0;
}
@media (min-width: 801px) {
  .game-half {
    float: left;
    width: 50%;
  }
  .game-left {
    border-right: 1px solid #ccc;
  }
}
@media (max-width: 800px) {
  .game {
    width: 100%;
  }
}
.game-desc {
  text-align: center;
  padding: 30px;
}
.game-desc p {
  margin: 50px 30px;
}

.play-button {
  color: white;
  background-color: rgb(61,183,221);
  padding: 10px 30px;
  font-size: 25px;
  letter-spacing: 5px;
  border-radius: 999px;
  box-shadow: 0px 5px rgb(50,135,165);
}

.raw-link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 801px) {
  .narrow-para {
    padding-left: 200px;
    padding-right: 200px;
  }
}

#about-wrapper {
  background-color: rgb(246,246,243);
}

#about {
  margin: 0 auto;
  max-width: 1400px;
  padding: 80px;
}

#about h2 {
  margin: 25px 25px 25px 0px;
}

@media (max-width: 800px) {
  #about {
    padding: 30px;
  }
}

@media (min-width: 801px) {
  #about-picture img {
    width: 300px;
    margin: 40px;
    float: right;
  }
}
@media (max-width: 800px) {
  #about-picture {
    width: 100%;
    text-align: center;
  }
  #about-picture img {
    max-width: 100%;
    max-height: 300px;
  }
}

#about-text p {
  margin-top: 40px;
}

.learn-more {
  background-color: rgb(79,79,79);
  color: white;
  padding: 10px 40px;
  border-radius: 999px;
}

#footer {
  background-color: rgb(50,50,50);
  color: white;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

#footer img {
  width: 100px;
}

#footer2 {
  background-color: rgb(35,35,35);
  color: white;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

#footer2 img {
  height: 40px;
}

#footer2 a {
  margin: 10px;
}

#menu {
  z-index: 2;
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  background-color: rgb(34,40,48);
  color: white;
  padding: 0 20px;
  width: 250px;
  transition-property: right;
  transition-duration: 0.25s;
}

.menu-open #menu {
  right: 0;
}

p#menu-x {
  text-align: left !important;
}

#menu-x img {
  width: 25px;
}

#menu p {
  text-align: center;
}

